body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image:url("image/360.jpg");
    background-size: cover;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* background-image: url("image/360.jpg"); */
}
.contact-form, .contact-info {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
        /* background-image: url("image/360.jpg"); */

}
.contact-form h2, .contact-info h2 {
    color: #333;
}
.contact-form label, .contact-form button {
    display: block;
    margin-bottom: 10px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #555;
}
